/* General Styles */
.best-book-detail {
  background-image: url('https://t4.ftcdn.net/jpg/01/06/84/75/360_F_106847582_7JcRyHVy0xsp9qIDvuccmdl5oz3jorbm.jpg');
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Book Card and Details */
.best-book-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  width: 100%;
}

.best-book-info {
  display: flex;
  flex-direction: row; /* Ensure content is side by side */
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  text-align: left;
}

.best-book-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.best-book-image {
  width: 200px;
  height: auto;
  margin-right: 20px; /* Space between image and text */
}

.best-book-details {
  flex: 2;
}

.best-book-details h2,
.best-book-details p,
.best-book-details h3 {
  margin: 10px 0;
}

.best-author-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.best-author-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.best-book-rating {
  display: flex;
  align-items: center; /* Align items center vertically */
  margin: 10px 0;
}

.best-book-rating strong {
  margin-right: 10px; /* Space between heading and stars */
}

/* Button and Review Form */
.best-rate-button-section {
  margin-top: 20px;
}

.best-rate-button {
  background-color: #FFD580;
  color: #000;
  font-weight: bold;
}

.best-rate-button:hover {
  background-color: #f0c14b;
}

.best-review-form {
  margin-top: 20px;
  width: 100%;
}

.best-review-form textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Reviews Section */
.best-reviews-section {
  margin-top: 40px;
}

.best-reviews-section h3 {
  margin-bottom: 10px;
}

.best-review {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

/* Header Styles */


.best-back-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  color: #000;
  
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-right:30px;
  margin-left:10px;
}

.best-back-button:hover {
  background-color: #f0c14b;
}

.best-logo-title-container {
  display: flex;
  align-items: center;
}

.best-logoo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.best-titlee {
  font-size: 24px;
  color: #000;
  margin: 0;
}
